<!-- <div *ngFor="let form of formArray.controls; let i = index" class="mb-4">
    <div [formGroup]="form">
        <div class="form-group">
            <label for="userCount-{{i}}">User Count</label>
            <input id="userCount-{{i}}" formControlName="userCount" class="form-control" type="number" />
        </div>
        <div class="form-group">
            <label for="reportDownloadCount-{{i}}">Report Count</label>
            <input id="reportDownloadCount-{{i}}" formControlName="reportDownloadCount" class="form-control"
                type="number" />
        </div>
    </div>
</div> -->
<p>demo</p>
<!-- <ng-container *ngFor="let form of formArray.controls; let i = index">
    <form [formGroup]="form">
            <input type="text"   id="first-named" formControlName="userCount" />
            <input type="text"   id="first-name" formControlName="reportDownloadCount" />
            <textarea id="342" formControlName="permission"></textarea>
    </form>
</ng-container> -->