<div class="d-flex justify-content-between">
  <div class="d-flex gap-3 mb-3">
    <a [routerLink]="''">main</a>
    <a [routerLink]="'modal'">modal</a>
    <a [routerLink]="'pop-over'">pop-over</a>
    <a [routerLink]="'form'">form</a>
    <a [routerLink]="'form2'">form2</a>
    <a [routerLink]="'form3'">form3</a>
    <a [routerLink]="'api-test'">Api Test</a>
    <a [routerLink]="'observe-test'" rel="noreferrer" class="trip-details-link">Observable Test</a>
    <a [routerLink]="'scroll-spy'" rel="noreferrer" class="trip-details-link">scroll-spy</a>
    <a [routerLink]="'theme-link'" rel="noreferrer" class="trip-details-link">theme-component</a>
    <a [routerLink]="'caruousel'" rel="noreferrer" class="">caruousel</a>
    <a [routerLink]="'pagination-example'" rel="noreferrer" class="">pagination-example</a>
  </div>
</div>
<router-outlet></router-outlet>
