<div *ngFor="let signUpForm of signUpFormArray.controls">
    <h1>Person</h1>
    <form [formGroup]="signUpForm">
      <label for="first-name">First Name: </label>
      <input id="first-name" type="text" formControlName="name" />
  
      <div
        *ngIf="
        signUpForm.controls.name.invalid &&
          (signUpForm.controls.name.dirty || signUpForm.controls.name.touched)
        "
      >
        <div *ngIf="signUpForm.controls.name.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="signUpForm.controls.name.errors?.['minlength']">
          Name must be at least 5 characters long.
        </div>
      </div>
  
      <br />
  
      <div formGroupName="birthDate">
        <h2>Birth Date</h2>
  
        <label for="day">Day: </label>
        <input id="day" type="text" formControlName="day" />
        <br />
  
        <div
          *ngIf="
            signUpForm.controls.birthDate.controls.day.invalid &&
            (signUpForm.controls.birthDate.controls.day.dirty ||
              signUpForm.controls.birthDate.controls.day.touched)
          "
        >
          <div
            *ngIf="
              signUpForm.controls.birthDate.controls.day.errors?.['required']
            "
          >
            Day is required.
          </div>
          <div *ngIf="signUpForm.controls.birthDate.controls.day.errors?.['min']">
            Invalid day.
          </div>
        </div>
  
        <label for="month">Month: </label>
        <input id="month" type="text" formControlName="month" />
        <br />
  
        <label for="year">Year: </label>
        <input id="year" type="text" formControlName="year" />
      </div>
    </form>
  </div>
  
  <button type="button" (click)="addSignUpForm()">Add Person</button>
  <button type="submit" (click)="onSubmit()" [disabled]="!signUpFormArray.valid">
    Submit Profile
  </button>

  <div class="mb-4">
    @for(item of name; track item){
      <span class="mb-4">{{item}}</span>
    }
  </div>
  